@media screen and (min-device-width: 897px){
    /* 全体の指定 */
    html{
        max-width: 1024px;
        margin: 0 auto;
    }
    h1{
        font-size: 2em;
    }
    h2{
        font-size: 1.5em;
    }
    p{
        font-size: 1em;
    }




    /* ヘッダータイトル＆ハンバーガーメニューアイコンエリア */
    header{
        max-width: 1024px;
    }
    #menu_icon{
        font-size: 3em;
    }
    #nav_list{
        max-width: 1024px;
        font-size: 1em;
    }
    header ul{
        padding-top: 0;
    }





    /* 月アイコン */
    .fa-moon{
        font-size: 3em;
    }
    #moon{
        color: #ffffff;
        margin: 200px 0;
    }

    #moon_y{
        color: #ffff00;
        margin: 200px 0;
    }





    /* トップページ/1ページ目 */
    .slider img{
    max-width: 700px;
    max-height: 500px;
}
    #top_area li{
        font-size: 1.3em;
    }
    .arrow{
        height: 4em;
    }
    #arrow_left{
        font-size: 3em;
        left: 4em;
    }
    #arrow_right{
        font-size: 3em;
        right: 4em;
    }
    .image_area_number{
        font-size: 1.2em;
    }





    /* プロフィールページ/2ページ目 */
    #sec_area h2{
        font-size: 1.8em;
        margin-bottom: 60px;
    }
    #sec_area p{
        font-size: 1.3em;
    }





    /* お問い合わせページ/3ページ目 */
    .contact_form{
        width: 60%;
    }
    .contact_form_area label{
        font-size: 1.3em;
    }
    .contact_form button{
        font-size: 1em;
        height: 3em;
    }
    #name{
        font-size: 1.3em;
    }
    #email{
        font-size: 1.3em;
    }
    #message{
        height: 10em;
    }



    

    /* フッター */
    footer{
        height: 40px;
        font-size: 1em;
    }

}