@media screen and (min-device-width: 897px){

    html{
        max-width: 1024px;
        margin: 0 auto;
    }
    /* 全体文字大きさ */
    h1{
        font-size: 2em;
    }
    h2{
        font-size: 1.5em;
    }
    p{
        font-size: 1em;
    }




    /* ヘッダータイトル＆ハンバーガーメニューアイコンエリア */
    header{
        max-width: 1024px;
    }
    #menu_icon{
        font-size: 3em;
    }
    .menu{
        max-width: 1024px;
    }
    #nav_list{
        max-width: 1024px;
        font-size: .8em;
        margin-top: 200px;
    }
    header ul{
        padding-top: 0;
    }





    /* トップページ/1ページ目 */
    #top_area{
        height: 180vh;
    }
    .slider{
        max-height: 500px;
    }
    .slider img{
    max-width: 700px;
    max-height: 500px;
}
    #top_area li{
        font-size: 1.5em;
    }
    .arrow{
        height: 4em;
    }
    #arrow_left{
        font-size: 3em;
        left: 4em;
    }
    #arrow_right{
        font-size: 3em;
        right: 4em;
    }
    .image_area_number{
        font-size: 1.2em;
    }




    /* プロフィールページ/2ページ目 */
    #sec_area{
        height: 180vh;
    }
    #sec_area p{
        font-size: 1.5em;
    }





    /* お問い合わせページ/3ページ目 */
    #thi_area{
        height: 180vh;
    }
    .contact_form_area label{
        font-size: 1.5em;
    }
    .contact_form button{
        font-size: 1em;
    }
    #name{
        height: 3em;
    }
    #email{
        height: 3em;
    }
    #message{
        height: 10em;
    }



    /* フッター */
    footer{
        height: 40px;
        font-size: 1em;
    }




    /* safari用 */
    _::-webkit-full-page-media, _:future, :root

    /* 全体文字大きさ */
    h1{
        font-size: 1.5em;
    }
    h2{
        font-size: 1em;
    }
    p{
        font-size: .5em;
    }



    /* ハンバーガーメニュー */
    #menu_icon{
        font-size: 2.5em;
    }
    #nav_list{
        font-size: .4em;
    }


    /* トップページ/1ページ目 */
    #top_area li{
        font-size: 1em;    
    }
    .arrow{
        height: 3.5em;
    }
    #arrow_left{
        font-size: 2.5em;
        left: 2.5em;
    }
    #arrow_right{
        font-size: 2.5em;
        right: 2.5em;
    }
    .image_area_number{
        font-size: 1em;
    }



      /* プロフィールページ/2ページ目 */
    #sec_area p{
        font-size: 1em;
    }



    /* お問い合わせページ/3ページ目 */
    .contact_form_area label{
        font-size: 1em;
    }
    .contact_form button{
        font-size: .8em;
        height: 3em;
    }
    
}